footer {
    height: 50px;
    background-color: #35334e;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

    p {
        width: 300px;
        margin: 0 auto;
    }
}